.cash-register-container {
    padding: 20px;
}

.cash-register-header {
    background: radial-gradient(circle, #DFD7BB, #B6AD91);
    color: rgb(85, 82, 82);
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.cash-register-form-container {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group label {
    font-weight: bold;
}

.btn-primary {
    background-color: #d60b0b;
    border-color: #d60b0b;
}